---
import Layout from '../layouts/Layout.astro';

const response = await fetch(
  'http://ergast.com/api/f1/current/constructorstandings.json',
);
const data = await response.json();
const standings = data.MRData.StandingsTable.StandingsLists[0];
---

<Layout title="F1 Constructor Standings">
  <main>
    <table class="table-auto w-full overflow-hidden rounded-2xl shadow-xl">
      <thead class="bg-white text-left dark:bg-gray-800 dark:text-gray-200">
        <th class="px-4 py-4">#</th>
        <th class="px-4 py-4">Constructor</th>
        <th class="px-4 py-4">Points</th>
        <th class="px-4 py-4">Wins</th>
      </thead>
      <tbody>
        {
          standings.ConstructorStandings.map(constructor => (
            <tr class="bg-slate-100 border-t dark:bg-gray-900 dark:text-gray-400 dark:border-t-slate-700">
              <td class="px-4 py-3">{constructor.position}</td>
              <td class="px-4 py-3">{constructor.Constructor.name}</td>
              <td class="px-4 py-3">{constructor.points}</td>
              <td class="px-4 py-3">{constructor.wins}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </main>
</Layout>

<style>

</style>
